.education-wrapper {
  padding: 150px 0;
  // border-bottom: 2px solid rgba(9, 5, 29, 0.171);
  color: white;
  position: relative;

  .bg-image-container {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
    background-color: #00000020;
  }

  .education-content-wrapper {
    max-width: 1200px;
    margin: auto;

    h2 {
      margin-bottom: 60px;
      text-align: center;
      font-size: 40px;
      @media screen and (max-width: 500px) {
        font-size: 25px;
      }
    }
  }
}

.academic-details {
  display: flex;
  flex-flow: column;
  .academic-item {
    min-width: 50%;
    margin-bottom: 50px;
    h3 {
      margin-bottom: 20px;
      color: #ffd63a;
      font-size: 28px;
    }
    p {
      margin-bottom: 0px;
      font-size: 22px;
    }

    @media screen and (max-width: 500px) {
      padding: 30px 20px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
