@import "../../index.scss";

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home-section {
  position: relative;
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
  color: white;
  min-height: calc(100dvh - 100px);
  display: flex;

  .theme_button {
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background-image: var(--bg-color);
    z-index: 100;
    border: 2px solid #ffd63a;
    text-align: center;
    box-shadow: 0 4px 8px 0 #ffd63a;

    @media screen and (max-width: 550px) {
      bottom: 20px;
      right: 20px;
    }
  }

  .content-wrapper {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    .text-container {
      margin: auto;
    }
  }
}

.heading {
  font-size: 3em;
}

.heading-name {
  font-size: 2.5em;
}

.main-name {
  color: #ffd63a;
  font-size: 4rem;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #ffd63a !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #ffd63a !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.buttons-wrapper {
  margin-top: 4rem;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;

  .contact-button {
    width: max-content;
    padding: 10px 20px;
    border: 1px solid #ffd63a;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.272);
  }

  .resume-button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #ffd63a;
    color: #ffd63a;
    transition: all 0.3s ease;
    &:hover {
      background-color: #ffd63a;
      color: #be5103;

      svg {
        path {
          stroke: #be5103;
        }
      }
    }
  }
}
