@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg-color: linear-gradient(120deg, #b37e2e, #be5103 0%);
  --text-color: #be5103;
}

[data-theme="dark"] {
  --bg-color: linear-gradient(120deg, #121212, #1d1402 0%);
  --text-color: #1d1402;
}

* {
  cursor: none;
}

body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;

  margin: 0;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 600;

  background-image: var(--bg-color);
  transition: background-image 1s ease;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffd63a;
    border-radius: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    overflow: visible;
    background-color: #883a01;
    border-radius: 10px;
  }
}
