.work-wrapper {
  position: relative;
  color: white;
  padding: 4rem 0;
  border-bottom: 2px solid rgba(9, 5, 29, 0.171);
  border-top: 2px solid rgba(9, 5, 29, 0.171);
  padding: 150px 0;

  .work-section-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("../../Assets/projects-bg.svg");
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
  }

  .work-content-wrapper {
    max-width: 1200px;
    margin: auto;

    h2 {
      margin-bottom: 60px;
      text-align: center;
      font-size: 40px;
      @media screen and (max-width: 500px) {
        font-size: 25px;
      }
    }
  }

  .work-experience-list {
    display: flex;
    flex-flow: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;

    .work-item-container {
      border: 1px solid #ffd63a;
      border-radius: 14px;
      width: 80%;
      min-height: 200px;
      padding: 50px 40px;
      transition: all 0.4s ease;
      &:hover {
        background: #00000050;
      }
      h5 {
        color: #ffd63a;
        font-weight: 800;
        font-size: 26px;
      }
      h6 {
        font-weight: 600;
        font-size: 20px;
      }
      ul {
        margin-top: 20px;
        li {
          font-size: 20px;
          text-align: justify;
          margin-bottom: 5px;
        }
      }
      @media screen and (max-width: 500px) {
        padding: 30px 20px;
        h5 {
          font-size: 18px;
        }
        h6 {
          font-size: 15px;
        }
        ul {
          li {
            line-height: 20px;
            font-size: 15px;
            text-align: left;
          }
        }
      }
    }
  }
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  border: 2px solid #ffd63a !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;

  &:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 8px 0 #ffd63a50, 0 6px 20px 0 #ffd63a;
  }
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.skillset-wrapper {
  max-width: 1200px;
  margin: auto;

  h2 {
    margin-bottom: 40px;
  }
}
